{% extends 'aplicacion/pagina.html' %}

{% block titulo %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-3 py-3">
        <div class="row align-items-center g-4">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Lista de Recetas</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Aquí puedes visualizar una lista de las recetas del sitio!</p>
            </div>
        </div>
    </div>
</div>
{% endblock titulo %}

{% block contenido %}

<a href="{% url 'buscarRecetas' %}" class="btn btn-primary py-3 px-5"><i class="fa-solid fa-magnifying-glass fa-xl"></i> Buscar Receta</a>
<br>
<br>
<h1>Recetas Saladas</h1>
<div class="menu-box">
    <div class="container">
        <div class="row">

            {% for s in salada_list %}

                <div class="col-4 px-5">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href="{% url 'detalleSalada' s.id %}" title="Ir a la receta">
                                            <img src="{{s.imagenRecetaSalada.url}}" width="300px" height="200px"/>
                                        </a>
                                        <div class="why-text">
                                            <h4>{{s.titulo}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            {% endfor %}

        </div>
    </div>
</div>
<br>
<h1>Recetas Dulces</h1>
<div class="menu-box">
    <div class="container">
        <div class="row">

            {% for d in dulce_list %}

                <div class="col-4 px-5">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href="{% url 'detalleDulce' d.id %}" title="Ir a la receta">
                                            <img src="{{d.imagenRecetaDulce.url}}" width="300px" height="200px"/>
                                        </a>
                                        <div class="why-text">
                                            <h4>{{d.titulo}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            {% endfor %}

        </div>
    </div>
</div>
<br>
<h1>Recetas de Bebidas</h1>
<div class="menu-box">
    <div class="container">
        <div class="row">

            {% for b in bebida_list %}

                <div class="col-4 px-5">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href="{% url 'detalleBebida' b.id %}" title="Ir a la receta">
                                            <img src="{{b.imagenRecetaBebida.url}}" width="300px" height="200px"/>
                                        </a>
                                        <div class="why-text">
                                            <h4>{{b.titulo}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            {% endfor %}

        </div>
    </div>
</div>

{% endblock contenido %}